.root{
    width: 100%;
    padding: 0px;
   

}
.App{
    width: 100%;
    height: 100%;

}

.logowanie{
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
padding-left: 15%;
    label{
        display: block;
    }
    background-color:#eaeaea; 
    form {
        padding: 0%;
    }
}






.container{
margin-left: 20%;
background-color:#eaeaea; 
    
    
.link {
    display: block;
    text-decoration: none;
    color: white;
}

    

    .col-1{
        padding: 0;
        margin: 0;
        
            }
    .col{
        margin-left: 2%;
    }
     

}

.kuchnia{
.Lista{
     ul{
         padding: 0;
     }
    li{
        list-style-type: none;
        
        
    }
    .btn-primary{
        margin-left: 20px;
    }
    div{
        margin-top: 20px;
    }

    }   
}

.salon{
    .Lista{
         ul{
             padding: 0;
         }
        li{
            list-style-type: none;
            
            
        }
        .btn-primary{
            margin-left: 20px;
        }
        div{
            margin-top: 20px;
        }
    
        }   
    }

    .sypialnia{
        .Lista{
             ul{
                 padding: 0;
             }
            li{
                list-style-type: none;
                
                
            }
            .btn-primary{
                margin-left: 20px;
            }
            div{
                margin-top: 20px;
            }
        
            }   
        }